absl-py
annotated-types
anyio
appnope
asttokens
astunparse
bleach
certifi
cffi
charset-normalizer
click
comm
contourpy
cryptography
cycler
debugpy
decorator
distro
dm-tree
docstring_parser
et-xmlfile
etils
executing
filelock
flatbuffers
fonttools
fsspec
gast
google-pasta
googleapis-common-protos
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna
immutabledict
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kaggle
kagglehub
keras==2.11
keras-core
keras-cv
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
namex
nest-asyncio
networkx
numpy
openai
opendatasets
openpyxl
opt-einsum
optree
packaging
pandas
parso
pdfminer.six
pdfplumber
pexpect
pillow
platformdirs
promise
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
pydantic_core
pydicom
Pygments
pyparsing
PyPDF2
pypdfium2
python-dateutil
python-docx
python-pptx
python-slugify
pytz
PyYAML
pyzmq
regex
requests
rich
safetensors
scikit-learn
scipy
seaborn
setuptools
simple_parsing
six
sniffio
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow==2.11 
tensorflow-datasets
tensorflow-metadata
termcolor
text-unidecode
threadpoolctl
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
# tf-keras
typing_extensions
tzdata
urllib3
validators
vit-keras
wcwidth
webencodings
Werkzeug
wheel
wrapt
XlsxWriter
zipp
python-dotenv
torch
langchain
# langchain_community
langchain-huggingface
langchain-chroma
sentence_transformers
xgboost
lightgbm
duckduckgo-search
pyowm
